{% extends 'layout/base.html' %}


{% block content %}
<h1 class="text-center text-success mt-1">GIỎ HÀNG</h1>

<div class="container">
    {% if cart %}
    <table class="table">
        <tr>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th></th>
        </tr>
        {% for c in cart %}
        <tr>
            <td>{{ c.books.name }}</td>
            <td>{{ "{:,.0f}".format(c.books.price) }} VNĐ</td>
            <td>
                <input  type="number" id="{{c.id}}" oninput="changeCart({{c.id}}, this.value, {{c.customer_id}}, {{ c.books.stock_quantity }})"
                       value="{{ c.quantity }}" min="1" class="form-control"/>
            </td>
            <td>
                <button class="btn btn-danger" onclick="removeCart({{ c.id }})">&times;</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="alert alert-info">
<!--        <div class="mb-3">-->
<!--            <label for="cart-total-quantity" class="form-label">Tổng sản phẩm: </label>-->
<!--            <input type="text" class="form-control bg-sp" id="cart-total-quantity" value="{{cart_stats.total_quantity}}"-->
<!--                   disabled>-->
<!--        </div>-->
        <span id="iii">{{cart_stats.total_quantity}}</span>
        <div class="mb-3">
            <label for="cart-total-amount" class="form-label">Tổng tiền: </label>
            <input type="text" class="form-control bg-sp" id="cart-total-amount" value="{{ '{:,.0f}'.format(cart_stats.total_amount) }} VNĐ"
                   disabled>
        </div>
    </div>

    <div>
        <!--        <form action="/create-checkout-session" method="POST">-->
        <button class="btn" id="paymentInCart">Pay with Stripe
        </button>
        <!--        </form>-->

        <button class="btn" id="demo">Pay with Stripe</button>

    </div>

    {% else %}
    <div class="alert alert-info">KHÔNG có sản phẩm nào trong giỏ!</div>
    {% endif %}
</div>
{% endblock %}


{% block js_internal %}
<script>
    document.getElementById("paymentInCart").addEventListener("click", function() {
        var isValid = true;

        {% for c in cart %}
        let {{ c.books.name | lower | replace(' ', '_') }} = document.getElementById("{{c.id}}").value;

        if ( {{ c.books.name| lower | replace(' ', '_') }} > {{ c.books.stock_quantity }}) {
            alert('Số lượng tối đa còn lại của {{ c.books.name }} là ' + {{ c.books.stock_quantity }} + '\nXin lỗi vì sự bất tiện này');
            document.getElementById("{{c.id}}").value = {{ c.books.stock_quantity }};
            changeCart({{c.id}}, document.getElementById("{{c.id}}").value, {{c.customer_id}}, {{ c.books.stock_quantity }});
            isValid = false;
        }
        {% endfor %}

        if (isValid) {
            payment(null, null, {{ current_user.id }});
        }
    })
</script>
{% endblock %}

