<footer class="shadow-sm text-dark bg-main">
    <hr>
    <div class="container my-4">
        <div class="row">
            <!-- Column 1: Logo hoặc tên công ty -->
            <div class="col-md-4">
                <h5 class="fw-bold">VĂN THÀNH</h5>

                <p><i class="bi bi-geo-alt"></i> Địa chỉ: Khu dân cư, Nhà Bè, Hồ Chí Minh, Việt Nam</p>
            </div>

            <!-- Column 2: Liên kết mạng xã hội -->
            <div class="col-md-4 mt-4 mt-md-0">
                <h5 class="fw-bold">Mạng xã hội</h5>
                <ul class="list-unstyled d-flex">
                    <li class="me-3">
                        <a href="#" class="text-dark"><i class="bi bi-facebook fs-4"></i></a>
                    </li>
                    <li class="me-3">
                        <a href="#" class="text-dark"><i class="bi bi-twitter fs-4"></i></a>
                    </li>
                    <li class="me-3">
                        <a href="#" class="text-dark"><i class="bi bi-instagram fs-4"></i></a>
                    </li>
                </ul>
            </div>

            <!-- Column 3: Các liên kết -->
            <div class="col-md-4 mt-4 mt-md-0">
                <h5 class="fw-bold">Liên kết</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-dark text-decoration-none"><i
                            class="bi bi-house-door-fill me-2 fs-4"></i>Trang chủ</a></li>
                    <li><a href="#" class="text-dark text-decoration-none"><i
                            class="bi bi-info-circle-fill me-2 fs-4"></i>Giới thiệu</a></li>
                    <li><a href="#" class="text-dark text-decoration-none"><i
                            class="bi bi-briefcase-fill me-2 fs-4"></i>Dịch vụ</a></li>
                    <li><a href="#" class="text-dark text-decoration-none"><i
                            class="bi bi-envelope-fill me-2 fs-4"></i>Liên hệ</a></li>
                </ul>
            </div>
        </div>

        <div class="text-center mt-4">
            <p>BOOK SHOP &copy; 2024</p>
        </div>
    </div>
</footer>